// Body
$body-bg: #f8fafc;
body {
    background: linear-gradient(180deg, #779597, #B9AB9F);
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
